@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  to {
    translate: 0 5px;
  }
}

.pedro {
  scale: 1.1;
  animation: bounce 200ms linear infinite alternate;
}

@keyframes spin {
  to {
    rotate: -1turn;
  }
}

.wrapper {
  animation: spin 10s linear infinite;
}

.avatar {
  animation: shape 8s linear infinite;
}

@keyframes shape {
  from {
    border-radius: 33% 67% 55% 45% / 58% 60% 40% 42%;
  }
  25% {
    border-radius: 32% 50% 50% / 30% 40% 60% 70%;
  }

  50% {
    border-radius: 61% 39% 58% 42% / 37% 66% 34% 63%;
  }

  75% {
    border-radius: 42% 55% 45% / 58% 60% 40% 42%;
  }
  to {
    border-radius: 33% 67% 55% 45% / 58% 60% 40% 42%;
  }
}
